/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

*	{ 
  margin: 0; 
  padding: 0; 
}
body { 
  font: 14px Georgia, serif; 
}
h1 {
  font: 32px Georgia, Serif;
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
#page-wrap { 
  width: 500px; 
  margin: 100px auto;
  height: 904px;
}
.spacer { 
  height: 600px; 
}
table {
  border-collapse: collapse;
}
th { 
  background-color: lightgrey;
  margin-left: auto;
  padding: 2px;
  width: 250px; /*323px*/ 
  text-align: left;
  color: black;
  font-size: 10px;
  font-family: Arial, Serif;
  font-style: normal;
}
tr:nth-child(odd) {
  background: #eee;
}
td { 
  padding: 7px; 
  width: 200px;
  font-family: Arial;
  font-style: normal;
  color: black;
}
.some-other-area {
  margin: 300px 0;
  line-height: 2;
}
h2 {
  background: lightgrey;
  padding: 10px;
  font: 28px Georgia, Serif;
  margin: 0 0 20px 0;
}
a {
  color: black;
  padding-right: 13px; /*130*/
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 0px;
}
